body {
  font-family: Arial, sans-serif;
  background-image: url("sfondo.jpg"); /* URL dell'immagine di sfondo */
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.content {
  flex: 1;
  background-color: rgba(
    224,
    242,
    241,
    0.8
  ); /* Colore di sfondo azzurro chiaro */
  padding: 20px;
}

.text {
  margin-right: 20px;
}

.image {
  /* Posiziona l'elemento alla destra del testo */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.foca {
  position: fixed;
  top: 70%;
  right: 40px; /* Aumenta la distanza dal bordo destro dello schermo */
  width: 250px; /* Imposta la larghezza desiderata */
  height: auto; /* Altezza automatica per mantenere l'aspetto originale */
  transform: translate(
    0,
    -50%
  ); /* Centra verticalmente l'elemento rispetto alla metà dello schermo */
  opacity: 0; /* Imposta l'opacità iniziale a 0 */
}

.foca1 {
  opacity: 1; /* Imposta l'opacità della prima immagine a 1 */
  animation: changeImage 4s infinite; /* Durata e ciclo dell'animazione */
}

.foca2 {
  opacity: 0; /* Imposta l'opacità della seconda immagine a 0 */
  animation: changeImage 4s infinite;
  animation-delay: 2s; /* Ritardo di 2 secondi per iniziare l'animazione della seconda immagine */
}

@keyframes changeImage {
  0% {
    opacity: 1; /* La prima immagine è visibile per i primi 2 secondi */
  }
  50% {
    opacity: 1; /* La prima immagine rimane visibile fino al 50% dell'animazione */
  }
  51% {
    opacity: 0; /* La seconda immagine inizia a essere visibile dal 51% dell'animazione */
  }
  100% {
    opacity: 0; /* La seconda immagine è visibile per gli ultimi 2 secondi */
  }
}
