
body {
    background-color:rgba(196, 255, 191, 1); /* Colore di sfondo verde */
    font-family: 'PP Mori', sans-serif; /* Utilizzo del font PP Mori */
}

/* Stile per l'intestazione */

header {
    background-color: #096B00; /* Colore di sfondo dell'intestazione */
    color: #fff; /* Colore del testo */
    padding: 20px; /* Spaziatura interna */
}

header h1 {
    display: inline; /* Imposta il titolo in linea */
    margin-right: 20px; /* Margine destro per separare il titolo dal menu di navigazione */
}

nav ul {
    list-style-type: none; /* Rimuove i punti elenco */
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline; /* Imposta gli elementi del menu di navigazione in linea */
}

nav ul li a {
    color: #fff; /* Colore del testo dei link */
    text-decoration: none; /* Rimuove il sottolineato dai link */
    padding: 10px 20px; /* Spaziatura interna dei link */
}

nav ul li a:hover {
    background-color: #555; /* Cambia il colore di sfondo dei link al passaggio del mouse */
}

/* Stile per il contenuto principale */
main {
    padding: 20px;
}

/* Stile per il piè di pagina */
footer {
    background-color: #fD0FFF7; /* Colore di sfondo bianco */
    padding: 10px;
    text-align: center;
}


.column {
    width: 20%; /* Imposta la larghezza delle colonne al 20% della larghezza totale */
    float: left; /* Posiziona le colonne una accanto all'altra */
    padding: 10px; /* Aggiunge spazio intorno al contenuto */
    box-sizing: border-box; /* Assicura che il padding sia incluso nella larghezza totale della colonna */
}

.column img {
    max-width: 50%; /* Imposta la larghezza massima dell'immagine al 100% della larghezza del contenitore */
    height: auto; /* Imposta l'altezza dell'immagine in base al rapporto di aspetto originale */
}